@media (min-width: 320px) and (max-width: 320px){
    #cart .th_um{
        display: inline-flex;
        margin-left: 20px;
    }
    #cart .th_dois{
        margin-right: 25px;
    }
    #tableFrete .frete_show{
        margin: auto;
        display: inline-flex;
    }
    #frete_div .frete_show{
        margin-left: -25%;
        zoom: 0.6;
    }
    #frete_div .imagemCorreios{
        width: 80%;
    }
    #tableFrete .calcula_frete_td{
        min-width: 50px;
        max-width: 50px;
    }
    #tableFrete .formClass label{
        margin: auto;

    }
    nav img{
        width: 70%;background-color: whitesmoke;
    }
    #top .menu{
        padding: 0;
        margin: 0;
    }
    #footer{
        zoom: 0.5;
        text-align: center;
    }
    #copyright{
        zoom: 0.6;
    }
}
@media (min-width: 360px) and (max-width: 411px) {
    #tableFrete .frete_show{
        margin: auto;
        display: inline-flex;
    }
    #frete_div .frete_show{
        margin-left: -25%;
        zoom: 0.6;
    }
    #frete_div .imagemCorreios{
        width: 80%;
    }
    #tableFrete .calcula_frete_td{
        min-width: 50px;
        max-width: 50px;
    }
    #tableFrete .formClass label{
        margin: auto;

    }

    nav img{
        width: 70%;background-color: whitesmoke;
    }
    #top .menu{
        padding: 0;
        margin: 0;
    }
    #produtos .product-grid4{
        margin: auto;
    }
    #produtos .price{
        color: darkblue;
    }
    #produtos .title{
        font-size: 1.4rem;
        font-weight: bold;
    }
    #cart .th_um{
      zoom: 0.6;
    }
    #cart .th_dois{
        zoom: 0.6;
    }
    #tableFrete .frete{
        padding: 0;
        margin: 0 auto;
    }

}
@media (min-width: 414px) and (max-width: 415px){
    nav img{
        width: 70%;background-color: whitesmoke;
    }
    #cart .th_um{
        display: inline;
        margin-left: 50px;
    }
    #cart .padding_xs{
        margin: 10px;
    }
    #cart .th_dois{
        margin-right: 80px;
    }
    #tableFrete .frete_show{
        margin: auto;
        display: inline-flex;
    }
    #frete_div .frete_show{
        margin-left: -25%;
        zoom: 0.6;
    }
    #frete_div .imagemCorreios{
        width: 80%;
    }
    #tableFrete .calcula_frete_td{
        min-width: 50px;
        max-width: 50px;
    }

    #tableFrete .formClass label{
        margin: auto;

    }
    #footer{
        zoom: 0.8;
        text-align: center;
    }
}
@media (min-width: 767px) and (max-width: 800px) {
    nav img{
        width: 100%;
    }
}
@media (min-width: 1023px) and (max-width: 1440px) {
    nav img{
        width: 20%;
    }

    #navbar ul li a{
        font-size: 14px;
    }
}