@media (min-width: 320px) and (max-width: 414px) {
    nav img{
        width: 70%;background-color: whitesmoke;
    }
    #top .menu{
        padding: 0;
        margin: 0;
    }

}
@media (min-width: 767px) {
    nav img{
        width: 100%;
    }
}
